

/*
.jfx-button{
    var-name-1 == #26c6da;
    -fx-font:Apple SD Gothic Neo;
    -fx-font-color: black;
    -fx-background-color:  #26c6da;

            }


.jfx-button{
    -var-name-2 == #4e0000;
    -fx-font:Apple SD Gothic Neo;
    -fx-font-color: white;
    -fx-background-color:  -var-name-2;

            }
*/








