<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration
        PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- database connection settings -->
        <property name="hibernate.dialect"> org.hibernate.dialect.DerbyTenSevenDialect </property>
        <property name="hibernate.connection.driver_class"> org.apache.derby.jdbc.EmbeddedDriver </property>
        <property name="hibernate.connection.url"> jdbc:derby:./ttb.db;create=true </property>
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.connection.password"></property>
        <property name = "hibernate.jdbc.batch_size">20</property>
        <!-- ENABLE THIS IN THE FINAL JAR AS IT SPEEDS UP CONNECTIONS -->
        <!-- property name="hibernate.temp.use_jdbc_metadata_defaults">false</property -->

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">5</property>

        <!-- Drop and re-create the database schema on startup -->
        <!-- property name="hbm2ddl.auto">update</property -->

        <!-- helper debug settings -->
        <!-- property name="hibernate.show_sql">true</ -->
        <!-- property name="hibernate.format_sql">false</property -->

        <mapping class="Entities.Form" />
        <mapping class="Entities.WineFormItems" />
        <mapping class="Entities.Approval" />
        <mapping class="Entities.Address" />
        <mapping class="Entities.BrewersPermit" />
        <mapping class="Entities.Manufacturer" />
        <mapping class="Entities.Agent" />
        <mapping class="Entities.Representative" />
        <mapping class="Entities.LabelImage" />
    </session-factory>
</hibernate-configuration>