.tab-pane {

    -fx-tab-min-height: 2em;
    /* 24 */
    -fx-tab-max-height: 2em;
    /* 24 */

    -fx-tab-min-width: 10em;
    -fx-tab-max-width: 20em;
    -fx-padding: 0 -1 -1 0
}



.tab{

    -fx-font:Apple SD Gothic Neo;
    -fx-font-color: black;
    -fx-background-color: #cfd8dc;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0 10 0 10;
}

.tab:selected
{
    -fx-font: Apple SD Gothic Neo;
    -fx-font-color: black;
    -fx-background-color: #cfd8dc;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0 0 4 0;
    -fx-border-color: #26c6da;

}

.tab:focused
{
    -fx-focus-color: transparent;


}

.tab-pane *.tab-header-background
{
    -fx-background-color: transparent;
}

.tab-pane:left *.tab-header-area
{
    -fx-background-insets: 0, 0 0 10;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.tab:selected .focus-indicator
{
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}


.hamburger > StackPane {
    -fx-background-color: white;
}

.tab-label {
    -fx-text-fill: black ;
}